<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.papeldoviz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_p"
        android:label="PAPEL"
        android:roundIcon="@mipmap/logo_p"
        android:supportsRtl="true"
        android:theme="@style/Theme.PapelDoviz">
        <activity android:name=".activity.BaseActivity"></activity>
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>